# Local development
# REACT_APP_API_URL=http://localhost:8000

# Vercel preview + production
REACT_APP_API_URL=https://mandirmitra-backend.onrender.com
REACT_APP_FALLBACK_API_URL=https://mandirmitra-backend.onrender.com
